<footer>
  <link rel="stylesheet" type="text/css" href="css/footer.css">
  <br> <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" style="text-decoration: none"></a>
  <h4> Thank you for helping keep us safe and doing your part in stopping COVID-19! </h4>
  <h4>Khushmeet Chandi,  Mitali Gandhe,  Stuti Gupta,  Srilakshmi Medarametla</h4> <br>
</footer>