<div class="nav">
    <ul class="nav">
        <li class="navli" ><a href="https://gain-the-grain2.glitch.me/about">About</a></li>
        <li class="navli"><a class="navli" href="https://gain-the-grain2.glitch.me/options">Options</a></li>
        <li class="navli"><a class="navli" href="https://gain-the-grain2.glitch.me/get_groceries">Get Groceries</a></li>
        <li class="navli"><a class="navli" href="https://gain-the-grain2.glitch.me/account">Account</a></li>
        <li class="navli" ><a href="https://gain-the-grain2.glitch.me/signup_login">Sign Up/Log In</a></li>
       <li class="navli" ><a href="https://gain-the-grain2.glitch.me/">Home</a></li>
    </ul>
  <div class="logo-image">
          <img src="https://cdn.glitch.com/0097c3db-cbea-41bc-b2e4-8dcce7961cb5%2Flogo.png?v=1586708516099" alt="logo">
  </div>
</div>