<!DOCTYPE html>
<html>
    <head>
        <title>Gain the Grain - Get Groceries</title>
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
        <link rel="stylesheet" type="text/css" href="css/gg.css">
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    </head>
    <body>
      {{> new_nav_bar }}
      <br><br><h1>About us</h1>
      
      <h2> Our Mission </h2>
      <p>'Gain the Grain' drew inspiration from the kind, brave delivery workers during the 2020 COVID-19 epidemic - 
        ordinary people who risk their lives to make grocery runs for their vulnerable neighbors (ex. senior citizens, pregnant women, young children, 
        individuals with respiratory illnesses) in locations where grocery stores typically do not offer delivery. </p> <br>
      
      <h2> How We Operate </h2>
      <p>Our website connects grocers (people willing to purchase groceries) to receivers (people in need of groceries). 
        Receivers can easily make an account to add groceries to their list, select nearby registered grocers to pick up the supplies they need, 
        and view their account status (whether they have been connected with a grocer, grocery arrival time, etc.). Similarly, ordinary people can 
        volunteer as delivery workers once they register with our platform, browse receivers and select at-risk receivers in their community. </p> <br>
      
<!--       <h2> Tips for Recievers </h2>
      <ul id="infolist">
        <li><p>Get in contact with your grocer as soon as possible.</p></li>
        <li><p>Be specific with your item and orders</p></li>
        <li><p>If you're unsure about how much an item costs, that's all right! Put an estimate. Once your grocer had bought the good, they should deliver it to you and show
          your receipt </p></li>
        <li><p>Please don't pay for your groceries before recieving them!</p></li>
      </ul>
      <p></p>
      
      <h2> Tips for Grocers </h2>
      <ul id="infolist">
        <li><p>Don't choose to deliver groceries for someone if you're not confident you'll be able to do so.</p></li>
        <li><p>At the register, checkout once per reciever, so you can show them their receipt.</p></li>
        <li><p>If possible, try to be a repeat grocer and get to know those in community!</p></li>
        <li><p>You should accept payment for the food only after you've delivered them.</p></li>
      </ul>
      <p></p> -->
      
      <h2> The future is limitless... </h2>
      <p>We hope to include a feature in which the receivers are able to compensate the delivery workers, many of whom may be unemployed 
        (about 1 in 5 Americans are now unemployed) due to the epidemic. Improving grocer-receiver communication, like implement a chat feature, 
        would streamline the grain-gaining process. We also plan on also launching an partnership with grocery stores, since many grocery stores, 
        specifically during the epidemic, limit the amount of food that each customer can buy. If we had a partnership with these grocery stores, 
        we might be able to grant exceptions for the delivery workers who buy extra food not for themselves, but for others in need. 
        Additionally, in order to update our styling/organization, we hope to use BootStrap in the future.</p> <br>
      
      <h2> A Note on the Website </h2>
      <p> This website is still in development. Faded grey buttons do not (yet) have functionality. </p> <br>
      
      <h2> Hack the Helyx Hackathon </h2>
      <p> Thanks to all those at the <a href="http://hackthehelyx.glitch.me/">Hack the Helyx Hackathon</a> for initiating this event! Check out
          out our <a href="https://devpost.com/software/gain-the-grain">Devpost</a> submission. </p>

      
<!--       <form class="logoutbuttonform">
        <br>
        <button class="inp" type="button" onclick="logout()">Log Out</button> <br>  
      </form> -->
      <br>
      
      {{> footer }}
      <script type="text/javascript" src="client-js/gg.js"></script>  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>